@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="utmanager.app">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ut Manager</title>
    <link href="~/dist/app.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body>
    <utm-menu></utm-menu>

    <div ui-view></div>

<script src="~/dist/app.bundle.js" asp-append-version="true"></script>
</body>
</html>